@keyframes crazyBG {
    0%   {background-color: #F00;}
    33.3%  {background-color: #0F0;}
    66.6%  {background-color: #00F;}
    100%  {background-color: #F00;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fall {
    0%   {top: -10vh;}
    90%   {top: 110vh;}
    91%   {opacity:1;}
    92%   {top: 110vh;}
    93%   {opacity:0;}
    100%   {top: -10vh;
        opacity:0;}
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}
}

@keyframes zoomies {
    0%   {font-size: 1em;}
    50%   {font-size: 4em;}
    100%   {font-size: 1em;}
}

body {
    animation: fadeIn 1s linear;
    font-family: 'Vollkorn', serif;
    font-size: 1.25em;
    background: #222;
    color:#DDD; /* #62e23c */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    position: relative;
    margin-top: 0;
}

a {
    color: #45afff;
}

body.loaded {
    transition: 1s;
}

body.loaded a {
    transition: 1s;
}

body.loaded #langSwitcher {
    transition: 1s;
}

button {
    cursor: pointer;
}

footer {
    font-size: 1rem;
}

h1 {
    font-size: 3em;
    margin-bottom:0;
}

h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    text-align: center;
}

main {
    max-width: 860px;
}

main.loaded {
    transition: 0.25s;
}

p {
    line-height: 1.75em;
}

#otherVersions {
    font-family: sans-serif;
    position: absolute;
    bottom: -3em;
    left: 2px;
}

#langSwitcher {
    background: none;
    border-radius: 1em;
    border-color: #ddd;
    color: #ddd;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#langSwitcher:focus {
    outline: none;
    box-shadow: #ddd 0px 0px 2px 2px;
}

#themeSwitcher {
    position: absolute;
    top: 0;
    right: 0.5em;
    background: none;
    line-height: 1em;
    border: none;
    font-size: 1.25em;
    padding-bottom: 0;
    width: 3rem;
}

#themeSwitcher svg {
    fill:#EEE;
    stroke:#222;
    transition: 1s;
}

#themeSwitcher:focus {
    outline: none;
}

#themeSwitcher:focus svg {
    stroke: #BBB;
}

#themeSwitcher:hover svg {
    stroke: #ff0;
}


.joy {
    animation: fall 5s infinite linear,
                rotate 4s infinite linear;
    position:absolute;
    font-size: 3em;
}

.wow {
    color: #FFF;
    animation: zoomies 3s infinite;
}

li {
    margin: 0.25em 0;
    padding: 0.25em;        
}



